/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Estilos para a tabela */
table.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

table.table th, table.table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.custom-pagination {
    font-size: 14px;
    padding: 5px 10px;
    margin-right: 5px;
}
